<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BLManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="TransportMinistery">
      <section name="ExportConfigurator" type="ExportConfiguration.ExportConfigurator, ExportConfiguration" />
    </sectionGroup>
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true"
    defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add fileName="trace.log" header="----------------------------------------"
        footer="----------------------------------------" formatter=""
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
        traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
        name="FlatFile TraceListener" />
      <add source="Enterprise Library Logging" formatter="Text Formatter"
        log="Application" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
        traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
        name="Formatted EventLog TraceListener" />
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
        name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="FlatFile TraceListener" />
          <add name="Formatted EventLog TraceListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Formatted EventLog TraceListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <exceptionHandling />
  <connectionStrings>

    <!--Server=tcp:MyAgListener,1433;Database=Db1;IntegratedSecurity=SSPI; MultiSubnetFailover=True;ApplicationIntent=ReadOnly;-->
    
    <add name="TranscadOperators" connectionString="Data Source=SLAVA-PC\ENT;Initial Catalog=TranscadOperator;Persist Security Info=True;User ID=sa;Password=rinat2001"
    providerName="System.Data.SqlClient" />

    <!--<add name="TranscadOperatorsReadOnly" connectionString="Data Source=SLAVA-PC\ENT;Initial Catalog=TranscadOperator;Persist Security Info=True;User ID=sa;Password=rinat2001;ApplicationIntent=ReadOnly"
    providerName="System.Data.SqlClient" />-->
    
    <add name="TrafficLisencingFirm" connectionString="Data Source=SLAVA-PC\ENT;Initial Catalog=TrafficLicensingPlanning;Persist Security Info=True;User ID=sa;Password=rinat2001"
    providerName="System.Data.SqlClient" />


    <add name="TrafficLiceningReform" connectionString="Data Source=SLAVA-PC\ENT;Initial Catalog=TrafficLiceningReform;Persist Security Info=True;User ID=sa;Password=rinat2001"
    providerName="System.Data.SqlClient" />

    <!--<add name="TrafficLisencingFirmReadOnly" connectionString="Data Source=SLAVA-PC\ENT;Initial Catalog=TrafficLicensingPlanning;Persist Security Info=True;User ID=sa;Password=rinat2001;ApplicationIntent=ReadOnly"
      providerName="System.Data.SqlClient" />-->  
    
    <add name="TransportLisencingString" connectionString="Data Source=SLAVA-PC\ENT;Initial Catalog=TrafficLicensing;Persist Security Info=True;User ID=sa;Password=rinat2001"
    providerName="System.Data.SqlClient" />

    <!--<add name="TransportLisencingStringReadOnly" connectionString="Data Source=SLAVA-PC\ENT;Initial Catalog=TrafficLicensing;Persist Security Info=True;User ID=sa;Password=rinat2001;ApplicationIntent=ReadOnly"
    providerName="System.Data.SqlClient" />-->


    <!--<add name="TranscadOperators" connectionString="Data Source=SLAVA-PC\ENT;Initial Catalog=TranscadOperator;Persist Security Info=True;User ID=sa;Password=rinat2001"
      providerName="System.Data.SqlClient" />
    <add name="TrafficLisencingFirm" connectionString="Data Source=SLAVA-PC\ENT;Initial Catalog=TrafficLicensingPlanning;Persist Security Info=True;User ID=sa;Password=rinat2001"
      providerName="System.Data.SqlClient" />
    <add name="TransportLisencingString" connectionString="Data Source=SLAVA-PC\ENT;Initial Catalog=TrafficLicensing;Persist Security Info=True;User ID=sa;Password=rinat2001"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <applicationSettings>
    <BLManager.Properties.Settings>
      <setting name="BLManager_RishuyAD_RishuyAD" serializeAs="String">
        <value>http://127.0.0.1/RishuiADWS/RishuyAD.asmx</value>
      </setting>
    </BLManager.Properties.Settings>
  </applicationSettings>
  <!-- applicationSettings Remove all | ExportConfigurator Remove : instanceUpdateNumber baseResponsible activeGroupExtention operatorDefaultNameForAuthenticationserviceActive | Add  ldapAddress ="LDAP://adalya03.local" , ldapQueryUsername = "genadib" , ldapQueryPassword = "gb1477" -->
  <!-- mapLayerFile="C:\Slava\ADL\DATA\Transcad\is_str\is_str.dbd"  C:\Slava\ADL\DATA\GIS\GIS_01112015\Streets\is_str.dbd -->
  <TransportMinistery>
    <ExportConfigurator isAuthenticationserviceActive="false"
                        isVerifyRS="false"
                        phisicalStopsLayerName="Physical Stops"
                        routeStopsLayerName="Stops"
                        mappingServer="TransCAD"
                        endpoints="Endpoints" 
                        mapLayerName="is_str"
                        mapLayerFile="C:\Slava\ADL\DATA\Transcad\is_str\is_str.dbd"
                        runValidationCheckOnStartUp="false"
                        munLayer="is_mun"
                        routeSystemLayerName="Route System"
                        lengthConverter="1000"
                        logicalDataSplitDevider="|"
                        stopsOffsetPoints="15"
                        minLimitDistanceBetweanStations="0"
                        dataFolder="C:\Slava\ADL\Code\RoutesExportSQLServer\DATA"
                        monitorTimerInterval="0"
                        labelFont="David|Bold|12"
                        operatorsConvertNotDB="18;3;5;"
                        exportMacroName="e"
                        exportMacroUIFile="C:\Slava\ADL\Macros\Export\exportcalcmacro.dbd"
                        shapeFileFolder="C:\Slava\ADL\Code\RoutesExportSQLServer\DATA\Shape\"
                        updateEndPointsMacroUIFile="C:\Slava\ADL\Macros\UpdateEndPoints\updateendpoints.dbd"
                        updatePhysicalStopsMacroUIFile="C:\Slava\ADL\Macros\UpdatePhysicalStops\updatephysicalstops.dbd"
                        junctionVersionUIFile="C:\Slava\ADL\Macros\JunctionVersion\JunctionVersion.dbd"
                        transactionLevel="4096"
                        eggedExportSationFolder="C:\Slava\ADL\DATA\Transcad\Operators\EgedStations"
                        pathToExportConstraintViolationFolder="C:\Slava\ADL\Code\RoutesExportSQLServer\DATA\ExportConstraintViolationFolder"
                        showLineInStationToolBox="C:\Slava\ADL\Macros\ShowLineInStationToolBox\showlineinstationtoolbox.dbd"
                        priceAreaPolygonName="PriceList"
                        priceAreaPolygonMacroName="p"
                        priceAreaPolygonMacroUIFile="C:\Slava\ADL\Macros\PriceListMacroInterface\priceList.dbd"
                        priceAreaPolygonFileFolder="C:\Slava\ADL\DATA\Transcad\Polygons\"
                        priceAreaPolygonToolBox="C:\Slava\ADL\Macros\priceAreaPolygonToolBox\priceAreaPolygonToolBox.dbd"
                        polygonCalcAreaUI="C:\Slava\ADL\Macros\PolygonArea\parea.dbd"
                        polygonCalcAreaMacroName="pArea"
                        routeSystemPointsUI="C:\Slava\ADL\Macros\RouteSystemPoints\routeSystemPointsUI.dbd"
                        routeSystemPointsMacro="RSP"
                        
                        getRLInfoMacro="GetRLInfo"
                        getRLInfoUI="C:\Slava\ADL\Macros\GetRLInfo\getrlinfo.dbd"
                        
                        developmentEnv="true"
                        danLikeOperators="5;"
                        egedFileSourceFolder="C:\Slava\ADL\DATA\GIS\Eged\Set2"
                        egedNispah2LoadMapMacroFile ="C:\Slava\ADL\Macros\EgedNispah2\nispah2.dbd"
                        egedNispah2LoadMapMacroName ="maR"
                        egedRouteSystemLayerName="Eged"
                        egedFarAwayStationMacro="ster"
                        transcadexe="C:\Program Files\TransCAD\tcw.exe"
                        trafficLicensingPlanningURL="http://tahazpiisPlanning/TrafficLicensing?ImportControlId={0}"
                        trafficLicensingPlanningZoneImportURL="http://tahazpiisPlanning/TrafficLicensing?ImportControlId={0}"
                        trafficLicensingURL="http://tahazpiis/TrafficLicensing?ImportControlId={0}"
                        trafficLicensingZoneImportURL="http://tahazpiis/TrafficLicensing?ImportControlId={0}"
                        workspacePriceListAllOperstorsFileName="C:\Slava\ADL\DATA\GIS\PriceListAllOperators\priceListAllOprerators.wrk"
                        workspacePriceListAllOperstorsMapName="Input"
                        
                        convertIsStrShapeToTABMacro="convertIsStrShapeToTABMacro"
                        convertIsStrShapeToTABMacroUIFile="C:\Slava\ADL\Macros\ConvertIsStrShapeToTAB\ConvertIsStrShapeToTAB.dbd"
                        convertIsStrShapeToTABogr2ogrPath="C:\Slava\ADL\Code\RoutesExportSQLServer\DATA\SHP2TAB.bat"
                        convertIsStrShapeToTABFtpHost ="ftp://10.40.21.108/eggedtranssafe/Root/"
                        convertIsStrShapeToTABFtpUser ="galuser"
                        convertIsStrShapeToTABFtpPassword ="Aq123456"
                        
                        taxiOperatorId="25"
                        trainOperatorId="2"
                        operatorsIDsNotCalcNispah2Distances="2;"
                        tempPathForAllUsers="C:\temp\MFilesCalcOrderPrice"
                        transcadConnectivityTimerPeriod="20000"
                        calcCloseAreasToStationMacro="C:\Slava\ADL\Macros\CloseAreasToStation\closeareastostation.dbd"

                        priceAreaHistoryPriceZoneAreaFolder="C:\Slava\ADL\DATA\PriceArea\HistoryPriceZoneArea"
                        priceAreaPriceZoneAreaFolder="C:\Slava\ADL\DATA\PriceArea\PriceZoneArea"
                        priceAreaTemporaryPriceZoneAreaFolder="C:\Slava\ADL\DATA\PriceArea\TemporaryPriceZoneArea"
                        priceAreaZonesFileFolder="C:\Slava\ADL\DATA\Transcad\Zones\"
                        priceAreaZonesAreaName="Zones"
                        
                        />
    

  </TransportMinistery>
  <!--587-->
  <!--transactionLevel =SNAPSHOT  "16777216" READCOMMTED = "4096"-->
  <!--operatorDefaultNameForAuthenticationserviceActive ="נזרין אקספרס"-->
  <appSettings>
    <add key="imagePath" value="C:\Slava\ADL\Code\RoutesExportSQLServer\Images" />
  </appSettings>
</configuration>